  /* Projects Section */
  .projects-section {
    padding: 80px 0;
  }

  .section-heading {
    text-align: center;
    margin-bottom: 15px;
  }

  .section-subtitle {
    text-align: center;
    color: #080808;
    margin-bottom: 50px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 20px;
  }

  .project-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }

  .project-card:hover {
    transform: translateY(-10px);
  }

  .project-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid rgb(29, 28, 28);
    
  }

  .project-content {
    padding: 20px;
  }

  .project-content h3 {
    color: #2d3748;
    margin-bottom: 10px;
  }

  .project-description {
    color: #4a5568;
    margin-bottom: 15px;
    line-height: 1.6;
  }

  .project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
  }

  .project-tech span {
    background: #e2e8f0;
    color: #2d3748;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
  }

  .project-links {
    display: flex;
    gap: 15px;
  }

  .project-link {
    padding: 8px 16px;
    background: #08bf6d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
  }

  .project-link1 {
    padding: 8px 16px;
    background: #f80606;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
  }

  .project-link1:hover {
    background: #4302e9;
  }

  .project-link:hover {
    background: #3182ce;
  }


  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }